.container {
  flex-grow: 1;
  padding: 5%;
  gap: 6%;
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  min-width: 180px;
}

.content,
.thumbnail {
  width: 40%;
}

.content > h1 {
  font-weight: 500;
}

.content > h1,
.content > p {
  margin-bottom: 3%;
}

.order {
  display: flex;
  gap: 7%;
}

.price {
  font-weight: 500;
  font-family: var(--sans-serif-header);
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
}

.order > button {
  align-self: center;
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-family: var(--sans-serif-header);
  background-color: var(--dark-pink);
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: 400;
  padding: 1.2% 4%;
  min-width: 100px;
  cursor: pointer;
}
