.thumbsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: auto;
  row-gap: var(--space-size-9);
  padding: var(--space-size-9);
}

.thumbnail {
  flex: 1 0 30%;
}

.introText {
  margin-top: var(--space-size-12);
  color: var(--body-text);
  font-family: var(--sans-serif-header);
  width: 60%;
  font-size: var(--font-size-7);
  font-weight: 300;
}
