.listSelected {
  background-color: var(--pastel-green-light);
}

.container {
  width: 30%;
  min-width: var(--space-size-6);
  color: var(--body-text);
  font-family: var(--sans-serif-header);
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 300;
}

.container li {
  border: 2px solid var(--pastel-green-light);
  border-top: none;
  border-bottom: 1px solid var(--pastel-green-light);
  padding: 8%;
}

.container li:first-of-type {
  border-top: 2px solid var(--pastel-green-light);
  border-top-left-radius: max(15px, 2vw);
  border-top-right-radius: max(15px, 2vw);
}

.container li:last-of-type {
  border-bottom-left-radius: max(15px, 2vw);
  border-bottom-right-radius: max(15px, 2vw);
  border-bottom: 2px solid var(--pastel-green-light);
}

@media only screen and (min-width: 750px) {
  .container {
    width: var(--space-size-5);
  }
}
