.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 0 6%;
}

.container > h1 {
  margin-bottom: 2%;
}

.container > p {
  width: 50%;
  margin-bottom: 5%;
}

.thumbnailContainer {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.thumbnail {
  width: 50%;
}
