.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  padding: 0 6%;
}

.container > h1 {
  margin-bottom: 2%;
}

.container > p {
  width: 50%;
  margin-bottom: 5%;
}

.thumbnailContainer {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.thumbnail {
  width: 50%;
}

/* tall */
/* .thumbnail {
  max-width: var(--space-size-5);
}

.thumbnailContainer {
  justify-content: center;
  gap: 15%;
}

.container {
  height: 100%;
  padding: 4% 6%;
} */

/* column */
/* .container {
  height: 100%;
  padding: 4% 6%;
}

.thumbnailContainer {
  flex-direction: column;
  align-items: center;
  gap: var(--space-size-10);
}

.thumbnail {
  width: auto;
  max-width: var(--space-size-3);
} */
