.container {
  margin-top: var(--space-size-14);
  display: flex;
  justify-content: space-between;
}

.backButton,
.nextButton {
  outline: none;
  border: none;
  background: transparent;
  color: var(--body-text);
  font-family: var(--sans-serif-header);
  font-size: var(--font-size-6);
  font-weight: 300;
}
