.container {
  display: flex;
}

.welcomeImage {
  width: 50%;
  max-width: 100%;
  height: auto;
  max-height: 82vh;
  object-fit: contain;
}

.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  padding: 0 4%;
  width: 100%;
  background-color: var(--light-grey);
}

.button {
  text-decoration: none;
  text-align: center;
}

.welcomeMessage > h1,
.welcomeMessage > p,
.welcomeMessage > .button {
  color: var(--body-text);
  font-family: var(--sans-serif-header);
}

.welcomeMessage > h1 {
  width: 100%;
  line-height: 150%;
  font-weight: 400;
}

.welcomeMessage > p {
  max-width: var(--space-size-4);
  width: 100%;
  font-weight: 300;
}

.welcomeMessage > .button {
  align-self: flex-start;
  background-color: var(--dark-pink);
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: 400;
  padding: 2% 5%;
}

@media only screen and (max-width: 479px) {
  .welcomeImage {
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  .welcomeMessage {
    flex-grow: 1;
  }

  .container {
    flex-direction: column;
    height: 85vh;
    /* height: 100%; */
  }
}
