.container {
  display: flex;
}

.welcomeImage {
  width: 50%;
  max-width: 100%;
  height: auto;
  max-height: 82vh;
  /* max-width: 500px; */
  /* height: 82vh; */
  object-fit: contain;
}

.welcomeMessage {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  padding: 0 var(--space-size-10);
  width: 100%;
  background-color: var(--light-grey);
}

.button {
  text-decoration: none;
  text-align: center;
}

.welcomeMessage > h1,
.welcomeMessage > p,
.welcomeMessage > .button {
  color: var(--body-text);
  font-family: var(--sans-serif-header);
}

.welcomeMessage > h1 {
  width: 100%;
  line-height: 150%;
  font-size: var(--font-size-heading);
  font-weight: 400;
}

.welcomeMessage > p {
  width: 60%;
  font-size: var(--font-size-7);
  font-weight: 300;
}

.welcomeMessage > .button {
  width: 25%;
  background-color: var(--dark-pink);
  border-radius: 40px;
  border: none;
  color: white;
  font-size: var(--font-size-7);
  font-weight: 500;
  padding: 2% 0;
}
