.container {
  height: 45vh;
  display: flex;
  padding: 7%;
  background-color: var(--dark-grey);
  font-family: var(--sans-serif);
  color: var(--footer-text);
  line-height: 160%;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.logo {
  font-family: var(--logo);
  font-size: clamp(3rem, 5vw, 4rem);
}

.left {
  width: 25%;
  color: var(--body-text);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-left: 8%;
}

address {
  font-style: normal;
}

.social {
  display: flex;
  gap: 6%;
  font-size: clamp(1.8rem, 4.5vw, 3rem);
}
