.container {
  height: 70vh;
  width: 100%;
  padding: 0 6%;
  background-color: var(--dark-pink);
  color: white;
}

.container > h1 {
  color: white;
  padding: max(5%, var(--space-size-10)) 0;
}

.thumbnailContainer {
  display: flex;
  gap: max(4%, var(--space-size-11));
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 991px) {
  .thumbnailContainer {
    overflow-x: scroll;
  }

  .thumbnail {
    flex: none;
  }

  .container > h1 {
    font-size: clamp(1.8rem, 3.5vw, 2.8rem);
  }
}
