.formContainer {
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-content: center;
  padding: 2%;
}

.formContainer input {
  border: 2px solid var(--pastel-green-light);
  border-radius: 20px;
  padding: 3%;
  font-family: var(--sans-serif-header);
  font-size: clamp(0.8rem, 2vw, 1.25rem);
  font-weight: 300;
}
