.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  margin-top: 3%;
}

.column {
  border: 1px solid red;
}

.formContainer input {
  display: block;
  margin-bottom: 5%;
  border: 2px solid var(--pastel-green-light);
  border-radius: 20px;
  padding: 3%;
  font-family: var(--sans-serif-header);
  font-size: clamp(0.8rem, 2vw, 1.25rem);
  font-weight: 300;
}
