header {
  padding: 0 6%;
  background-color: var(--pastel-green);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
}

.menu,
.icons,
.logo {
  color: var(--light-grey);
}

.menu,
.icons {
  width: 15%;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.icons {
  display: flex;
  gap: var(--space-size-11);
  justify-content: flex-end;
}

.logo {
  font-family: var(--logo);
  font-size: clamp(3rem, 5vw, 4rem);
}
