.thumbsContainer {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  margin-left: -5%;
}

.thumbnail {
  width: 25%;
  min-width: 120px;
  margin-left: 5%;
  margin-bottom: 5%;
}
