h1,
h2 {
  color: var(--body-text);
  font-family: var(--sans-serif-header);
}

h1 {
  font-size: var(--font-size-6);
  font-weight: 300;
}

h2 {
  margin-top: var(--space-size-14);
  font-size: var(--font-size-heading);
  font-weight: 400;
}
