.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  padding: 0 6%;
  height: 45vh;
}

.container > p {
  max-width: var(--space-size-2);
  width: 100%;
  color: var(--body-text);
  font-weight: 300;
}

.search {
  display: flex;
  justify-content: flex-end;
  min-width: var(--space-size-5);
  max-width: var(--space-size-4);
  width: 100%;
  border: 3px solid var(--pastel-green-light);
  border-radius: 40px;
  padding: var(--space-size-13);
  padding: 1.5%;
  background-color: white;
}

.hide {
  display: none;
}

.search {
  max-width: 100%;
}

.magnifyingGlass {
  margin-right: 1%;
  font-size: var(--font-size-6);
  font-size: clamp(1.4rem, 3.5vw, 2rem);
  color: var(--pastel-green-light);
}

.close {
  margin-right: 1%;
  font-size: var(--font-size-6);
  color: var(--pastel-green-light);
}

@media only screen and (max-width: 767px) {
  .container > p {
    display: none;
  }

  .container {
    height: 30vh;
  }
}

/* phones */
@media only screen and (max-width: 479px) {
  .container {
    max-height: var(--space-size-7);
  }
}
