.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-size-8);
  height: 40vh;
}

.container>p {
  width: 55%;
  color: var(--body-text);
  font-family: var(--sans-serif-header);
  font-size: var(--font-size-7);
  font-weight: 300;
}

.container>button {
  display: flex;
  justify-content: flex-end;
  width: 32%;
  border: 3px solid var(--pastel-green-light);
  border-radius: 40px;
  padding: var(--space-size-13);
  background-color: white;

}

.magnifyingGlass {
  font-size: var(--font-size-6);
  color: var(--pastel-green-light);
}